body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    font-family: sans-serif;
}

h2{
    letter-spacing: 2px;
    color: white;
    font-size: 34px;
}

.form{
    margin-top: 50px;
    background-color: rgb(220, 220, 129);
    padding: 20px;
    margin: 10px;
}

.input{
    width:70%;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: solid 2px;
}

.btn{
    width:30%;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    margin: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}